.DS_Store
.vs
Debug
Release
MinSizeRel
RelWithDebInfo
Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/mos
/mos.dir
/mos.sln
/mos.vcxproj
/mos.vcxproj.filters
/mos.vcxproj.user